rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /pageContent/{docId} {
      allow read, write: if true;
    }
    
    match /photography/{docId} {
      allow read, write: if true;
    }
    
    match /film/{docId} {
      allow read, write: if true;
    }
    
    match /webdev/{docId} {
      allow read, write: if true;
    }
    
    match /nfts/{docId} {
      allow read, write: if true;
    }
    
    match /dance/{docId} {
      allow read, write: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
} 